extends signedin

block content
	.container-75p.margin-top-5p.margin-left-15p.margin-top-100x
		.row.bg-gray
			.col-md-12
				h3.text-center.text-vertical-center
					span.text-white #{meeting.meetingTitle}
		.row.bg-grayblue.padding-top-2p
			.col-md-10.margin-top-1p
				.progress.border-square
					.progress-bar.progress-bar-success(style='width: 35%;')
					.progress-bar.progress-bar-warning(style='width: 20%;')
					.progress-bar.progress-bar-danger(style='width: 10%;')
			.col-md-2
				button.btn.btn-primary.btn-lg.margin-right.border-square.bg-gray-nohover.border-ltgray.text-white-nohover(type='submit') FINISH
		.row.bg-grayblue.padding-bottom-1p
			.col-md-12
				h3.text-center.text-capital Objective: #{meeting.objective}
		.row.bg-gray.margin-top-3p
			.col-md-12
				h3.text-center.text-white AGENDA
		each agenda, i in meeting.agenda
			.row.bg-grayblue.padding-top-2p.margin-top-2x
				.col-md-12
					h4.text-left.text-bold.text-capital #{i+1}. #{agenda.topic}
					each notes, x in agenda.notes
						h5.text-left.margin-left-2p.text-capital #{notes.notes}
			.row.bg-grayblue.padding-bottom-2p#agenda1
				form.form-inline.form-center(role='form', method='POST', action='/addnotes')
					input(type='hidden', name='noteOrder', value='#{i}')
					input(type='hidden', name='meetingId', value='#{meeting._id}')
					.col-md-9.col-sm-9.form-group
						input.margin-left-2p.form-control.border-square.border-none.text-left(id='signup', type='text', name='notes', placeholder= 'Start Typing...')
					.col-md-3.text-center
						button.btn.btn-primary.btn-lg.margin-right.border-square.bg-ltgray-nohover.border-ltgray.padding-bottom-2p.text-black-nohover(type='submit') NOTE
						a.btn.btn-primary.btn-lg.margin-left-1p.margin-right.border-square.bg-gray-nohover.border-gray.padding-bottom-2p(id='meetingMember'+i, onClick="chooseVisibility(id)") TASK	
			.hidden-login.bg-grayblue(id='meetingMember'+i+'-div')
				.row.bg-grayblue
					.col-md-8.col-md-offset-2.bg-gray.text-center
						h3.text-center.text-white ADD PEOPLE
				.row.bg-grayblue
					.col-md-8.col-md-offset-2.bg-white.text-center
						#memberList.margin-top-1p(style="width:100%; height:105px; float:left; display:inline-block; overflow-y:hidden; overflow-x:scroll; white-space:nowrap;")
							div.disp-inline-block.img-width-80x.img-height-80x
								img.img-responsive.cursor-pointer.img-gray#1(src="images/joLee.jpg", value='leejosephinem@gmail.com')
							div.disp-inline-block.img-width-80x.img-height-80x.margin-left-2p
								img.img-responsive.cursor-pointer.img-gray#2(src="images/AlexPopelard.jpg" , value='alexpopelard@northwestern.edu')
							div.disp-inline-block.img-width-80x.img-height-80x.margin-left-2p
								img.img-responsive.cursor-pointer.img-gray(src="images/SuzeeHan.jpg", value='suzeehan2015@u.northwestern.edu')
							div.disp-inline-block.img-width-80x.img-height-80x.margin-left-2p
								img.img-responsive.cursor-pointer.img-gray(src="images/MichaelChen.jpg", value="michaelchen2015@u.northwestern.edu")
							div.disp-inline-block.img-width-80x.img-height-80x.margin-left-2p
								img.img-responsive.cursor-pointer.img-gray(src="images/TommyYu.jpg", value='tyu3138@gmail.com')
							div.disp-inline-block.img-width-80x.img-height-80x.margin-left-2p
								img.img-responsive.cursor-pointer.img-gray(src="images/AlexPopelard.jpg" , value='alexpopelard@northwestern.edu')
							div.disp-inline-block.img-width-80x.img-height-80x.margin-left-2p
								img.img-responsive.cursor-pointer.img-gray(src="images/SuzeeHan.jpg", value='suzeehan2015@u.northwestern.edu')
							div.disp-inline-block.img-width-80x.img-height-80x.margin-left-2p
								img.img-responsive.cursor-pointer.img-gray(src="images/MichaelChen.jpg", value="michaelchen2015@u.northwestern.edu")
							div.disp-inline-block.img-width-80x.img-height-80x.margin-left-2p
								img.img-responsive.cursor-pointer.img-gray(src="images/TommyYu.jpg", value='tyu3138@gmail.com')
							div.disp-inline-block.img-width-80x.img-height-80x.margin-left-2p
								img.img-responsive.cursor-pointer.img-gray(src="images/joLee.jpg", value='leejosephinem@gmail.com')
				.row.bg-grayblue.padding-bottom-1p
					.col-md-8.col-md-offset-2.text-center.bg-white.padding-top-2p.padding-bottom-1p
						button.btn.btn-primary.btn-lg.margin-right.border-square.bg-gray-nohover.border-ltgray.text-white-nohover(type='submit') ASSIGN
		.row.bg-gray.margin-top-3p.margin-top-2x
			.col-md-12
				h3.text-center.text-white.text-upper ASSIGNED TASKS
		.row.bg-grayblue.padding-top-2p
			.col-md-10
				h5.text-left.text-capital Order pizza for social media launch next week
			.col-md-2.text-right
				a.lsf-icon.text-black.text-big(href='taskInterface' title="edit")
		.row.bg-grayblue.padding-top-2p.margin-top-2x
			.col-md-10
				h5.text-left.text-capital Email ISBE Presidents for connection
			.col-md-2.text-right
				a.lsf-icon.text-black.text-big(href='taskInterface' title="edit")
		.row.bg-grayblue.padding-top-2p.margin-top-2x
			.col-md-10
				h5.text-left.text-capital tell team members to present OKR for next week
			.col-md-2.text-right
				a.lsf-icon.text-black.text-big(href='taskInterface' title="edit")
		.row.bg-grayblue.padding-top-2p.margin-top-2x
			.col-md-10
				h5.text-left.text-capital Reimbursements for the team
			.col-md-2.text-right
				a.lsf-icon.text-black.text-big(href='taskInterface' title="edit")
		.padding-top-3p