doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='')
		meta(name='author', content='')
		link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/base.css')
		link(rel='stylesheet', href='/stylesheets/fonts.css')
		title= title
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-47126611-1', 'meetingbuddy.herokuapp.com');
			ga('send', 'pageview');
	body#home-pg(onload="addTimer(#{meeting.meetingTime})")
		.navbar.bg-transparent.navbar-static-top(style="padding-top:0px; margin-top:0px", role='navigation')
			.container-95p.margin-center
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='offcanvas', data-target='.sidebar-nav')
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a(href='welcomeInterface')
						img.navbar-brand.img-30p.img-responsive(src="images/seamlogo.png")
		.side-container(style="margin-top:200px;")
			.row.row-offcanvas.row-offcanvas-left
				#sidebar.col-xs-6.col-sm-3.sidebar-offcanvas(role='navigation' style="min-width:100%")
					ul.nav
						li.active.bg-grayblue.margin-top-2x.padding-top-20x.padding-bottom-20x
							a.lsf-icon.text-black.text-big(href='PMInterface' title="memo")
						li.bg-grayblue.margin-top-2x.padding-top-20x.padding-bottom-20x
							a.lsf-icon.text-black.text-big(href='taskInterface' title="group")
						li.active.bg-grayblue.margin-top-2x.padding-top-20x.padding-bottom-20x
							a.lsf-icon.text-black.text-big(href='taskInterface' title="checkbox")
						li.bg-grayblue.margin-top-2x.padding-top-20x.padding-bottom-20x
							a.lsf-icon.text-black.text-big(href='taskInterface' title="gear")
						li.bg-grayblue.margin-top-2x.padding-top-20x.padding-bottom-20x
							a.lsf-icon.text-black.text-big(href='home' title="power")
		block content
		script(src='https://code.jquery.com/jquery.js')
		script(src='javascripts/bootstrap.min.js')
		script(src='javascripts/progressBar.js')
		script(src='javascripts/signed-in.js')
		script(src='javascripts/hidden-div.js')
	.container-75p.margin-top-5p.margin-left-15p.margin-top-100x
		.row.bg-gray
			.col-md-12
				h3.text-center.text-vertical-center
					span.text-white #{meeting.meetingTitle} (#{meeting.meetingTime} Minutes)
		.row.bg-grayblue.padding-top-2p
			.col-md-10.margin-top-1p
				.progress.border-square.progress-striped.active
					#progressTimer
			.col-md-2
				button.btn.btn-primary.btn-lg.margin-right.border-square.bg-gray-nohover.border-ltgray.text-white-nohover(type='submit') FINISH
		.row.bg-grayblue.padding-bottom-1p
			.col-md-12
				h3.text-center.text-capital Objective: #{meeting.objective}
		.row.bg-gray.margin-top-3p
			.col-md-12
				h3.text-center.text-white AGENDA
		each agenda, i in meeting.agenda
			.row.bg-grayblue.padding-top-2p.margin-top-2x
				.col-md-12
					h4.text-left.text-bold.text-capital #{i+1}. #{agenda.topic}
					each notes, x in agenda.notes
						h5.text-left.margin-left-2p.text-capital #{notes.notes}
			form.form-inline.form-center(role='form', method='POST', name='TNForm#{i}', action='/addnote')
				.row.bg-grayblue.padding-bottom-2p#agenda1
					input(type='hidden', name='noteOrder', value='#{i}')
					input(type='hidden', name='meetingId', value='#{meeting._id}')
					.col-md-9.col-sm-9.form-group
						input.margin-left-2p.form-control.border-square.border-none.text-left(id='notes', type='text', name='notes', placeholder= 'Start Typing...')
					.col-md-3.text-center
						button.btn.btn-primary.btn-lg.margin-right.border-square.bg-ltgray-nohover.border-ltgray.padding-bottom-2p.text-black-nohover(type='button', onClick="addNote(#{i})") NOTE
						a.btn.btn-primary.btn-lg.margin-left-1p.margin-right.border-square.bg-gray-nohover.border-gray.padding-bottom-2p(id='meetingMember'+i, onClick="chooseVisibility(id)") TASK	
				.hidden-login.bg-grayblue(id='meetingMember'+i+'-div')
					.row.bg-grayblue
						.col-md-8.col-md-offset-2.bg-gray.text-center
							h3.text-center.text-white ADD PEOPLE
					.row.bg-grayblue
						.col-md-8.col-md-offset-2.bg-white.text-center
							#memberList.margin-top-1p(style="width:100%; height:105px; float:left; display:inline-block; overflow-y:hidden; overflow-x:scroll; white-space:nowrap;")
								div.disp-inline-block.img-width-80x.img-height-80x
									img.img-responsive.cursor-pointer.img-gray#1(src="images/joLee.jpg", name='0', value='leejosephinem@gmail.com')
								input(type='hidden', id='assigned0', value='', name='assigned')
								div.disp-inline-block.img-width-80x.img-height-80x.margin-left-2p
									img.img-responsive.cursor-pointer.img-gray#2(src="images/AlexPopelard.jpg" , value='alexpopelard@kellogg.northwestern.edu',name='1')
								input(type='hidden', id='assigned1', value='', name='assigned')
								div.disp-inline-block.img-width-80x.img-height-80x.margin-left-2p
									img.img-responsive.cursor-pointer.img-gray(src="images/SuzeeHan.jpg", value='suzeehan2015@u.northwestern.edu', name='2')
								input(type='hidden', id='assigned2', value='', name='assigned')
								div.disp-inline-block.img-width-80x.img-height-80x.margin-left-2p
									img.img-responsive.cursor-pointer.img-gray(src="images/MichaelChen.jpg", value="michaelchen2015@u.northwestern.edu", name='3')
								input(type='hidden', id='assigned3', value='', name='assigned')
								div.disp-inline-block.img-width-80x.img-height-80x.margin-left-2p
									img.img-responsive.cursor-pointer.img-gray(src="images/TommyYu.jpg", value='tyu3138@gmail.com', name='4')
								input(type='hidden', id='assigned4', value='', name='assigned')
					.row.bg-grayblue.padding-bottom-1p
						.col-md-8.col-md-offset-2.text-center.bg-white.padding-top-2p.padding-bottom-1p
							button.btn.btn-primary.btn-lg.margin-right.border-square.bg-gray-nohover.border-ltgray.text-white-nohover(type='button', onClick='addTask(#{i})') ASSIGN
		.row.bg-gray.margin-top-3p.margin-top-2x
			.col-md-12
				h3.text-center.text-white.text-upper ASSIGNED TASKS
		each task, i in taskList
			.row.bg-grayblue.padding-top-2p
				.col-md-10
					h5.text-left.text-capital #{task.meetingTask}
				.col-md-2.text-right
					a.lsf-icon.text-black.text-big(href='taskInterface' title="edit")
		.padding-top-3p