extends sidebarNavbar

block content
	.bg-white(style="margin-left:14%; top:0px; position:absolute; width:86%; float:right")
		.container-95p.margin-center
			.row.margin-top-3p
				.col-md-8.col-sm-8.col-xs-8
					h3.text-black.text-bold.text-upper.text-left #{meeting.meetingTitle}
					h5.text-black.text-capital.text-left Objective: #{meeting.objective}
			.row.margin-top-1p
			if(past == 0)
				.col-md-8
					.progress.border-square.margin-top-5x.height-24x
						.progress-bar.progress-bar-success(style='width: 35%;')
							span.sr-only 35% Complete (success)
						.progress-bar.progress-bar-warning(style='width: 20%;')
							span.sr-only 20% Complete (warning)
						.progress-bar.progress-bar-danger(style='width: 10%;')
							span.sr-only 10% Complete (danger)
				.col-md-2
					h5.text-black.text-left.float-right.margin-top-5x.text-upper 00:47 left
				.col-md-2
					a(href="/finishMeeting")
						button.border-red.btn.btn-primary.btn-block.border-square.bg-red-hover.text-white-nohover(type='button') END MEETING
			else
				.col-md-8
					.progress.border-square.margin-top-5x.height-24x
						.progress-bar.progress-bar-success(style='width: 100%;')
							span.sr-only 100% Complete (success)
				.col-md-2
					h5.text-black.text-left.float-right.margin-top-5x.text-upper Done
				.col-md-2
					a(href="/sidebarMeetings")
						button.border-red.btn.btn-primary.btn-block.border-square.bg-red-hover.text-white-nohover(type='button') GO BACK
			.row.margin-top-3p
				.col-md-6.col-md-offset-3
					h4.text-black.text-upper.text-center agenda items
			each agenda, i in meeting.agenda
				.row.margin-top-1p
					.col-md-10
						h4.text-black.text-upper.text-left.text-capital #{i+1}. #{agenda.topic}
							each notes, x in agenda.notes
								h5.text-left.margin-right-2p.text-capital #{notes.notes}
					.col-md-2
						h4.text-red.text-upper.text-center #{agenda.duration}
				if(past == 0)
					form.form-inline.form-center(role='form', method='POST', name='TNForm#{i}', action='/addnote')
						input(type='hidden', name='noteOrder', value='#{i}')
						input(type='hidden', name='meetingId', value='#{meeting._id}')
						.row.bg-grayblue.padding-bottom-1p.margin-top-1p#agenda1
							.col-md-8.col-md-offset-2.col-sm-9.form-group
								if(i==0)
									input.text-h5.height-30x.margin-left-2p.form-control.border-square.border-none.text-left.bg-ltgray(id='notes', type='text', name='notes', placeholder= 'Start Typing...', tabindex='#{i+1}', autofocus='autofocus')
								else
									input.text-h5.height-30x.margin-left-2p.form-control.border-square.border-none.text-left.bg-ltgray(id='notes', type='text', name='notes', placeholder= 'Start Typing...', tabindex='#{i+1}')
						.row
							.col-md-4.col-md-offset-4.text-center
								button.btn.btn-primary.margin-right.border-square.bg-gray-nohover.border-gray.text-white-nohover(type='button', onClick="addNote(#{i})") ADD NOTE
								a.btn.btn-primary.margin-left-5p.margin-right.border-square.bg-gray-nohover.border-gray.text-white-nohover(id='meetingMember'+i, onClick="chooseVisibility(id)") ADD TASK	
						.hidden-login.bg-grayblue.margin-top-3p(id='meetingMember'+i+'-div')
							.row.bg-grayblue
								.col-md-8.col-md-offset-2.bg-gray.text-center
									h3.text-center.text-white ADD PEOPLE
							.row.bg-grayblue
								.col-md-8.col-md-offset-2.bg-white.text-center
									#memberList.margin-top-1p(style="width:100%; height:105px; float:left; display:inline-block; overflow-y:hidden; overflow-x:scroll; white-space:nowrap;")
										div.disp-inline-block.img-width-80x.img-height-80x
											img.img-responsive.cursor-pointer.img-gray#1(src="images/joLee.jpg", name='0', value='leejosephinem@gmail.com')
										input(type='hidden', id='assigned0', value='', name='assigned')
										div.disp-inline-block.img-width-80x.img-height-80x.margin-left-2p
											img.img-responsive.cursor-pointer.img-gray#2(src="images/AlexPopelard.jpg" , value='alexpopelard@kellogg.northwestern.edu',name='1')
										input(type='hidden', id='assigned1', value='', name='assigned')
										div.disp-inline-block.img-width-80x.img-height-80x.margin-left-2p
											img.img-responsive.cursor-pointer.img-gray(src="images/SuzeeHan.jpg", value='suzeehan2015@u.northwestern.edu', name='2')
										input(type='hidden', id='assigned2', value='', name='assigned')
										div.disp-inline-block.img-width-80x.img-height-80x.margin-left-2p
											img.img-responsive.cursor-pointer.img-gray(src="images/MichaelChen.jpg", value="michaelchen2015@u.northwestern.edu", name='3')
										input(type='hidden', id='assigned3', value='', name='assigned')
										div.disp-inline-block.img-width-80x.img-height-80x.margin-left-2p
											img.img-responsive.cursor-pointer.img-gray(src="images/TommyYu.jpg", value='tyu3138@gmail.com', name='4')
										input(type='hidden', id='assigned4', value='', name='assigned')
							.row.bg-grayblue.padding-bottom-1p
								.col-md-8.col-md-offset-2.text-center.bg-white.padding-top-2p.padding-bottom-1p
									button.btn.btn-primary.btn-lg.margin-right.border-square.bg-gray-nohover.border-ltgray.text-white-nohover(type='button', onClick='addTask(#{i})') ASSIGN
		.container-95p.bg-ltgray.margin-center.margin-top-3p(style="width:100%; padding:0 0; padding-bottom:2%; overflow-x:hidden")
			.row.margin-top-2x
				.col-md-12
					h3.text-center.text-red.text-bold ASSIGNED TASKS
			each task, i in taskList
				.row.margin-left-1p.bg-ltgray
					.col-md-9
						h3.text-left.text-black.text-capital #{task.meetingTask} --- #{task.meetingPerson}
					.col-md-3.text-center.margin-top-1p
						a.text-h4.text-black.margin-left-5p(href="#") EDIT
						a.text-h4.text-black.margin-left-2p(href="#") REVIEW