extends sidebarNavbar

block content
	.bg-ltgray.float-left.top-0x(style="width:21%; margin-left:14%; position:absolute; min-height:100%; height: auto;")
		.row.margin-top-10p
			.col-md-12
				h5.text-black.text-upper.text-bold upcoming meetings
		each meeting, i in meetingList
			if(meeting.isComplete == 0)
				form(role='form', method='POST', action='/startMeeting', id='future'+i)
					input(type='hidden', name='meetingId', value='#{meeting._id}')
					.row.margin-top-5p
						.col-md-10.col-md-offset-1
							h5
								a.text-black.text-h5.text-upper.text-bold(type='button', href="javascript:{}" onclick="document.getElementById('future#{i}').submit();") #{meeting.meetingTitle}
		.row.margin-top-5p
			.col-md-10.col-md-offset-1
				h5
					a.text-red.text-h5.text-upper.text-center.text-bold(type='button', href="/makeMeeting") add new meeting
		hr.width-100p.bg-black
		.row.margin-top-10p
			.col-md-12
				h5.text-black.text-upper.text-bold upcoming meetings
		each meeting, i in meetingList
			if(meeting.isComplete == 1)
				form(role='form', method='POST', action='/viewPastMeeting', id='past'+i)
					input(type='hidden', name='meetingId', value='#{meeting._id}')
					.row.margin-top-5p
						.col-md-10.col-md-offset-1
							h5.text-bold
								a.text-black.text-h4.text-upper.text-bold(type='button', href="javascript:{}" onclick="document.getElementById('past#{i}').submit();") #{meeting.meetingTitle}
		.row.margin-top-5p
			.col-md-10.col-md-offset-1
				h5.text-red.text-upper
					a.text-red.text-h5.text-upper.text-center.text-bold(type='button', href="#") load meetings
		.padding-bottom-10p
	block interfaces