extends ../dashboard/baseLayout

block content
	.row
		.col-md-12.bg-white.border-gray.border-shadow-1x.border-round(style='min-height:150px; height:auto')
			.row
				.col-md-6.col-sm-6.col-xs-6.margin-top-1p
					h2.text-left.text-black.text-normal.padding-left-1p #{meeting.meetingTitle}
				.col-md-2.col-sm-3.col-xs-3.margin-top-1p

				.col-md-4.col-sm-3.col-xs-3.margin-top-1p.disp-inline-block
					h2.text-right.text-black.padding-right-3p.float-right #{meetingDate}					
			.row.padding-left-1p
				.col-md-10.margin-top-1p.padding-left-1p
					span.text-h3.text-left.text-blue
						b OBJECTIVE: 
						|  #{meeting.objective}
					audio#alertSound(src="../../sounds/next.mp3" preload="auto")
	.row.margin-top-2p.margin-bottom-3p
		.col-md-9
			.row.bg-white.border-gray.border-shadow-1x.margin-right-1p.margin-left.height-auto.padding-bottom-3p.border-round
				.container-95p.margin-center
					.row
						.col-md-12.margin-top-1p.padding-bottom-2p.margin-left-1p
							h4.text-left.text-normal.text-gray MEETING AGENDA
						input(type="hidden" id="progressValues" value='#{meeting.timerInfo}')
					each agenda, i in meeting.agenda
						.row(id='agendaItem#{i+1}')
							.col-md-1.margin-top-1p.padding-bottom-2p.margin-0.padding-0
								div.height-100p.width-100p
									.progress.progress-striped.progress-vertical-circle.progress-striped.active.progress-success.margin-top-n1x.margin-bottom-0p(id='progressCircle#{i+1}')
										.bar

							.col-md-10.margin-0.padding-0
									h3.text-black.text-left.text-capital.margin-0.text-normal #{agenda.topic}
							.col-md-1
								.answer 
						.row
							.col-md-1.margin-top-1p.padding-bottom-2p.margin-0.padding-0
								div.height-100p.width-100p
									.progress.progress-striped.progress-vertical-line.progress-striped.active.progress-success.margin-top-n1x.margin-bottom-0p
										.bar(id='progressBar#{i+1}')
							.col-md-11.margin-0.padding-0(id='agendaNote#{i+1}')
								div.width-95p.margin-top-1p.overflow-scroll-y-auto.max-height-150x#notesList
									each note, j in agenda.notes
										if(j==0)
											h5.text-black.text-left.text-italic.margin-bottom-1p #{note.notes}
										else	
											h5.text-black.text-left #{note.notes}
								form(role='form', method='POST', name='TNForm', action='/dashboard/meetings/start/addNote', value='#{i}', id='TNForm#{i}')
									input(type='hidden', name='noteOrder', value='#{i}')
									div.container-95p.margin-top-2p
										if(i == 0)
											.row
												textarea.text-h5.height-30x.margin-left-2p.form-control.border-square.border-orange.text-left.bg-white.margin-0.margin-right-1p(rows="3",id='notes#{i}', type='text', name='notes', placeholder= 'Start Typing...', tabindex='#{i+1}', autofocus='autofocus', autocomplete='off')
											.row(style="display: none", id='taskPerson#{i+1}')
												.col-md-10
													input.text-h5.height-30x.margin-left-2p.form-control.border-square.border-orange.text-left.bg-white.margin-0.margin-right-1p(id='taskPerson#{i+1}Input', type='text', name='taskPerson', placeholder='Add People', autocomplete='off')
												.col-md-2
													button.padding-btn.text-left.border-square.btn-orange-hover(id='addTask#{i+1}' type='button', value='#{i}') ADD TASK
										else
											.row
												input.text-h5.height-30x.margin-left-2p.form-control.border-square.border-orange.text-left.bg-white.margin-0.margin-right-1p(id='notes#{i}', type='text', name='notes', placeholder= 'Start Typing...', tabindex='#{i+1}', autocomplete='off')
											.row(style="display: none", id='taskPerson#{i+1}')
												.col-md-10
													input.text-h5.height-30x.margin-left-2p.form-control.border-square.border-orange.text-left.bg-white.margin-0.margin-right-1p(id='taskPerson#{i+1}Input', type='text', name='taskPerson', placeholder='Add People', autocomplete='off')
												.col-md-2
													button.padding-btn.text-left.border-square.btn-orange-hover(id='addTask#{i+1}' type='button', value='#{i}') ADD TASK
									div.container-95p.margin-top-1p.margin-center
										.row
											.col-md-4.col-md-offset-1.margin-top-2p
												button.padding-btn.float-right.text-right.border-square.btn-orange-hover(id='noteSubmit#{i+1}' type='submit', value='#{i}') ADD NOTES
											.col-md-4.margin-top-2p
												button.padding-btn.text-left.border-square.btn-orange-hover(type='button',id='taskSubmit#{i+1}'  onClick='showTaskForm("taskPerson#{i+1}", "addTask#{i+1}")') ASSIGN TASK
					.row
						.col-md-1.margin-top-1p.padding-bottom-2p.margin-0.padding-0
							div.height-100p.width-100p
								.progress.progress-striped.progress-vertical-circle.progress-striped.active.progress-success.margin-top-n1x.margin-bottom-0p#endCirc
									.bar
						.col-md-10.margin-0.padding-0
								h3.text-black.text-left.text-capital.margin-0.text-normal WRAP-UP MEETING
		.col-md-3
			.row.height-auto.bg-white.border-gray.border-shadow-1x.margin-left-1p.overflow-scroll-y-auto.overflow-x-hidden.padding-bottom-3p.border-round
				.col-md-12.margin-top-1p
					h4.text-left.text-normal.text-gray.margin-left-1p MEETING INFORMATION
					.container-95p.margin-center.margin-top-3p
						.row
							.col-md-12
								h4.text-left.text-blue.text-normal Date: #{meetingDate}
						.row
							.col-md-12
								h4.text-left.text-blue.text-normal Start Time:
						.row
							.col-md-12
								h4.text-left.text-blue.text-normal End Time:
						.row
							.col-md-7
								h4.text-right.text-black.text-normal Time Remaining:
							.col-md-5
								h5#countdownTimer.text-left.text-black.text-normal
			.row.height-auto.bg-white.border-gray.border-shadow-1x.margin-left-1p.overflow-scroll-y-auto.overflow-x-hidden.margin-top-10p.padding-bottom-10p.border-round
				.col-md-12.margin-top-1p
					h4.text-left.text-normal.text-gray.margin-left-1p ATTENDEES
					.container-95p.margin-center.margin-top-3p
						each attendee, i in meeting.attendees
							.row.margin-top-10p
								.col-md-12.attendeeMember
									img.width-50x.height-50x.border-50p.float-left(src="../../../images/member.png", value='#{attendee.attendeeName}')
									h4.text-black.text-left.margin-top-1p(value='#{attendee.attendeeName}') #{attendee.attendeeName}
									a.text-h5.text-left.margin-top-5p.text-light-blue-nohover.text-normal(id="attendance#{i}" href="#" onclick="changeAttendance('attendance#{i}');return false;") PRESENT
			.row.margin-left-1p
					.col-md-12.col-sm-12.col-xs-12.margin-top-1p.text-left.margin-top-2p.text-center.margin-top-10p
						button.border-square.btn-blue-hover.text-h3.padding-btn(type='button', onClick="parent.location='/dashboard/meetings/end'") FINISH MEETING
	link(rel='stylesheet', href='../../../stylesheets/faq.css')
	script(src='../../../javascripts/meetings-assignTasks.js')
	script(src='../../../javascripts/meetings-attendance.js')
	script(src='../../../javascripts/meetings-update.js')
	script(src='../../../javascripts/notify.min.js')
	script(type="text/javascript" src='../../../javascripts/meetings-progressBar.js')
	script(type="text/javascript" src="../../../javascripts/jquery.plugin.js")
	script(type="text/javascript" src="../../../javascripts/jquery.countdown.js")