extends ../dashboard/baseLayout

block content
	.row
		.col-md-9
			.row.bg-white.border-gray.border-shadow-1x.margin-right-1p.margin-left.height-auto.padding-bottom-3p.border-round(style='min-height:150px; height:auto')
				.container-95p.margin-center
					.row
						.col-md-6.col-sm-6.col-xs-6.margin-top-1p
							input(type='hidden', name='meetingId', value='#{meeting._id}')
							input(type='hidden', name='userId', value='#{user}')
							input(type='hidden', name='name', value='#{name}')
							h2.text-left.text-black.text-normal.padding-left-1p #{meeting.meetingTitle}
						.col-md-2.col-sm-3.col-xs-3.margin-top-1p

						.col-md-4.col-sm-3.col-xs-3.margin-top-1p.disp-inline-block
							h2.text-right.text-black.padding-right-3p.float-right #{meetingDate}					
					.row.padding-left-1p
						.col-md-10.margin-top-1p.padding-left-1p
							span.text-h3.text-left.text-blue
								b OBJECTIVE: 
								|  #{meeting.objective}
							audio#alertSound(src="../../sounds/next.mp3" preload="auto")
		.col-md-3.position-fixed.float-right.disp-inline-block
			.container-75p
				.row.height-auto.bg-white.border-gray.border-shadow-1x.margin-left-1p.overflow-scroll-y-auto.overflow-x-hidden.padding-bottom-3p.border-round
					.col-md-12.margin-top-1p
						h4.text-left.text-normal.text-gray.margin-left-1p MEETING INFORMATION
						.container-95p.margin-center.margin-top-3p
							.row
								.col-md-12
									h4.text-left.text-blue.text-normal Date: #{meetingDate}
							.row
								.col-md-7
									h4.text-right.text-black.text-normal Time Remaining:
								.col-md-5
									h5#countdownTimer.text-left.text-black.text-normal
				.row.height-auto.bg-white.border-gray.border-shadow-1x.margin-left-1p.overflow-scroll-y-auto.overflow-x-hidden.margin-top-10p.padding-bottom-10p.border-round
					.col-md-12.margin-top-1p
						.row#attendeeMinimize
							.col-md-10
								h4.text-left.text-normal.text-gray.margin-left-1p ATTENDEES
							.col-md-1.margin-top-2p
								.answer 
						.container-95p.margin-center.margin-top-3p.max-height-150x.overflow-scroll-y.overflow-x-hidden
							each attendee, i in meeting.attendees
								.row.margin-top-10p
									.col-md-12.attendeeMember
										img.width-50x.height-50x.border-50p.float-left(name='attendee', src="../../../images/member.png", value='#{attendee.attendeeName}')
										h4.text-black.text-left.margin-top-1p(value='#{attendee.attendeeName}') #{attendee.attendeeName}
										//a.text-h5.text-left.margin-top-5p.text-light-blue-nohover.text-normal(id="attendance#{i}" href="#" onclick="changeAttendance('attendance#{i}');return false;") PRESENT
				.row.margin-left-1p
						.col-md-12.col-sm-12.col-xs-12.margin-top-1p.text-left.margin-top-2p.text-center.margin-top-10p
							button.border-square.btn-blue-hover.text-h3.padding-btn(name='finish', type='button', onClick="finishMeeting()") FINISH MEETING
	.row.margin-top-2p.margin-bottom-3p
		.col-md-9
			.row.bg-white.border-gray.border-shadow-1x.margin-right-1p.margin-left.height-auto.padding-bottom-3p.border-round
				.container-95p.margin-center
					.row
						.col-md-12.margin-top-1p.padding-bottom-2p.margin-left-1p
							h4.text-left.text-normal.text-gray MEETING AGENDA
						input(type="hidden" id="progressValues" value='#{meeting.timerInfo}')
					each agenda, i in meeting.agenda
						.row(id='agendaItem#{i+1}')
							input(type='hidden', name='timeLeft', value='#{agenda.timeLeft}')
							.col-md-1.margin-0.padding-0
								div.height-100p.width-100p
									.progress.progress-striped.progress-vertical-circle.progress-striped.active.progress-success.margin-top-n1x.margin-bottom-0p(id='progressCircle#{i+1}')
										.bar

							.col-md-10.margin-0.padding-0
									h3.text-black.text-left.text-capital.margin-0.text-normal #{agenda.topic}
							.col-md-1
								.answer 
						.row
							.col-md-1.margin-top-1p.padding-bottom-2p.margin-0.padding-0
								div.height-100p.width-100p
									.progress.progress-striped.progress-vertical-line.progress-striped.active.progress-success.margin-top-n1x.margin-bottom-0p
										.bar(id='progressBar#{i+1}', value="#{i}")
							.col-md-11.margin-0.padding-0(id='agendaNote#{i+1}')
								div.width-95p.margin-top-1p.overflow-scroll-y-auto.max-height-150x#notesList
									div#allNotes
										each note, j in agenda.notes
											if(j==0)
												div
													h5.text-black.text-left.text-italic.margin-bottom-1p(value='#{j+1}') #{note.notes}
											else
												div
													h5#oneNote.text-black.text-left(value='#{j+1}') #{note.notes}
													form(id='#{note._id}', name='noteInput#{j+1}', action='', method='POST', style='display: none;')
														input(type='hidden', name='noteId', value='#{note._id}')
														input#editNote(type='text', name='editNote', value='#{note.notes}')
									div#allTasks
										each task, i in agenda.tasks
											div
												h5#oneTask.text-black.text-left(value='#{i+1}') @#{task.assigneeName}#{task.task}
												form(task='#{task._id}', name='taskInput#{i+1}', action='', method='POST', style='display: none;')
													input(type='hidden', name='taskId', value='#{task._id}')
													input#editTask(type='text', name='editTask', value='#{task.tasks}')
								form(role='form', method='POST', name='TNForm', action='/dashboard/meetings/start/addNote', value='#{i}', id='TNForm#{i}')
									input(type='hidden', name='noteOrder', value='#{i}')
									div.container-95p.margin-top-2p
										if(i == 0)
											.row
												.col-md-11
													textarea.text-h5.margin-left-2p.form-control.border-square.border-orange-left.border-orange-top.border-orange-bot.border-orange-right.text-left.bg-white.margin-0.margin-right-1p(rows="2",id='notes#{i}', type='text', name='notes', placeholder= 'Start Typing...', tabindex='#{i+1}', autofocus='autofocus', autocomplete='off', value='#{i}')
												.col-md-1
													button.bg-white.text-blue-hoverorange.text-left.margin-0.padding-0(id='noteSubmit#{i+1}' type='submit', value='#{i}')<i class="fa fa-check fa-md"></i> 
											.row
												.col-md-3.padding-0-right
													.input-group
														span.input-group-addon.border-square.border-orange-bot.border-orange-left @
														input.noEnterSubmit.text-h5.margin-left-2p.form-control.border-square.border-orange-no-top.border-orange-bot.border-orange-right.border-orange-left.text-left.bg-white.margin-0.margin-right-1p(rows="1",id='taskAssignee#{i}', type='text', name='taskAssignee', placeholder= 'Assignee', tabindex='#{i+1}', autocomplete='off')
												.col-md-5.padding-0
													input.text-h5.margin-left-2p.form-control.border-square.border-orange-no-top.border-orange-bot.border-orange-right.border-orange-left.text-left.bg-white.margin-0.margin-right-1p(rows="1",id='taskName#{i}', type='text', name='taskName', placeholder= 'Type Task...', tabindex='#{i+1}', autocomplete='off')
												.col-md-3.padding-0-left
													input.text-h5.margin-left-2p.form-control.border-square.border-orange-no-top.border-orange-bot.border-orange-right.border-orange-left.text-left.bg-white.margin-0.margin-right-1p(rows="1",id='taskDueDate#{i}', type='text', name='taskDueDate', placeholder= 'Due Date', tabindex='#{i+1}', autocomplete='off')
										else
											.row
												.col-md-11
													textarea.text-h5.margin-left-2p.form-control.border-square.border-orange-left.border-orange-top.border-orange-bot.border-orange-right.text-left.bg-white.margin-0.margin-right-1p(rows="2",id='notes#{i}', type='text', name='notes', placeholder= 'Start Typing...', tabindex='#{i+1}', autocomplete='off', value='#{i}')
												.col-md-1
													button.bg-white.text-blue-hoverorange.text-left.margin-0.padding-0(id='noteSubmit#{i+1}' type='submit', value='#{i}')<i class="fa fa-check fa-md"></i> 
											.row
												.col-md-3.padding-0-right
													.input-group
														span.input-group-addon.border-square.border-orange-bot.border-orange-left @
														input.noEnterSubmit.text-h5.margin-left-2p.form-control.border-square.border-orange-no-top.border-orange-bot.border-orange-right.border-orange-left.text-left.bg-white.margin-0.margin-right-1p(rows="1",id='taskAssignee#{i}', type='text', name='taskAssignee', placeholder= 'Assignee', tabindex='#{i+1}', autocomplete='off')
												.col-md-5.padding-0
													input.text-h5.margin-left-2p.form-control.border-square.border-orange-no-top.border-orange-bot.border-orange-right.border-orange-left.text-left.bg-white.margin-0.margin-right-1p(rows="1",id='taskName#{i}', type='text', name='taskName', placeholder= 'Type Task...', tabindex='#{i+1}', autocomplete='off')
												.col-md-3.padding-0-left
													input.text-h5.margin-left-2p.form-control.border-square.border-orange-no-top.border-orange-bot.border-orange-right.border-orange-left.text-left.bg-white.margin-0.margin-right-1p(rows="1",id='taskDueDate#{i}', type='text', name='taskDueDate', placeholder= 'Due Date', tabindex='#{i+1}', autocomplete='off')
					.row
						.col-md-1.margin-top-1p.padding-bottom-2p.margin-0.padding-0
							div.height-100p.width-100p
								.progress.progress-striped.progress-vertical-circle.progress-striped.active.progress-success.margin-top-n1x.margin-bottom-0p#endCirc
									.bar
						.col-md-10.margin-0.padding-0
								h3.text-black.text-left.text-capital.margin-0.text-normal WRAP-UP MEETING
	link(rel='stylesheet', href='../../../stylesheets/faq.css')
	script(type="text/javascript" src="../../../javascripts/jquery.plugin.js")
	script(src='/socket.io/socket.io.js')
	script(src='../../../javascripts/meetings-assignTasks.js')
	script(src='../../../javascripts/meetings-attendance.js')
	script(src='../../../javascripts/meetings-update.js')
	script(src='../../../javascripts/notify.min.js')
	script(src='../../../javascripts/moment-2.4.0.js')
	script(src='../../../javascripts/bootstrap-datetimepicker.min.js')
	link(rel='stylesheet', href='../../../stylesheets/bootstrap-datetimepicker.css')
	link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css')
	script(type="text/javascript" src='../../../javascripts/meetings-progressBar.js')
	script(type="text/javascript" src="../../../javascripts/jquery.countdown.js")