extends baseLayout

block content
	//.row
		.col-md-12.bg-white.border-gray.border-shadow-1x.border-round(style='height:180px;')
			.container-95p.margin-center
				.row
					.col-md-12.margin-top-1p
						h4.text-left.text-normal.text-gray YOUR WEEK AHEAD
				.row.border-gray
					.col-md-1.border-gray
						h4.text-center.text-normal.text-black SUNDAY
					.col-md-2.border-gray
						h4.text-center.text-normal.text-black MONDAY
					.col-md-2.border-gray
						h4.text-center.text-normal.text-black TUESDAY
					.col-md-2.border-gray
						h4.text-center.text-normal.text-black WEDNESDAY
					.col-md-2.border-gray
						h4.text-center.text-normal.text-black THURSDAY
					.col-md-2.border-gray
						h4.text-center.text-normal.text-black FRIDAY
					.col-md-1.border-gray
						h4.text-center.text-normal.text-black SATURDAY					
				.row.border-gray
					.col-md-1.border-gray

					.col-md-2.border-gray.text-center
						button.border-square.btn-red-hover.margin-top-3p(type='button', href="javascript:{}" onclick="document.getElementById('future#{i}').submit();") EPIC ALL HANDS
					.col-md-2.border-gray
						
					.col-md-2.border-gray.text-center
						button.border-square.bg-white.btn-red-hover.margin-top-3p(type='button', href="javascript:{}" onclick="document.getElementById('future#{i}').submit();") TEAM UPDATES
					.col-md-2.border-gray
						
					.col-md-2.border-gray.text-center
						button.border-square.bg-white.btn-red-hover.margin-top-3p(type='button', href="javascript:{}" onclick="document.getElementById('future#{i}').submit();") EPIC UPDATES
					.col-md-1.border-gray			
	.row.margin-top-2p
		.col-md-4
			.row.bg-white.border-gray.border-shadow-1x.margin-right-1p.border-round(style='height:185px;')
				.col-md-12.margin-top-1p.margin-left-1p
					h4.text-left.text-normal.text-gray MOST UPCOMING MEETING
				if(upcomingMeeting != undefined)
					.col-md-12.margin-left-1p
						form(role='form', method='POST', action='/dashboard/meetings/start', id='upcomingMeeting')
							h2.text-left.text-normal #{upcomingMeeting.meetingTitle}
							h4.text-left.text-normal.text-gray #{meetingDate[0]}
							input(type='hidden', name='meetingId', value='#{upcomingMeeting._id}')
							button.padding-btn-small.text-right.margin-right-3p.border-square.btn-red-hover(type='button', href="javascript:{}", onclick="editAgenda('upcomingMeeting')") EDIT AGENDA
							button.padding-btn-small.text-right.margin-right-3p.border-square.btn-red-hover(type='button', href="javascript:{}" onclick="startAgenda('upcomingMeeting')") START
			.row.bg-white.border-gray.border-shadow-1x.margin-right-1p.margin-bottom-3p.border-round(style='height:185px;')
				.col-md-12.margin-top-1p.margin-left-1p
					h4.text-left.text-normal.text-gray PREVIOUS MEETING
					if(previousMeeting != undefined)
						form(role='form', method='POST', action='/dashboard/meetings/view/past', id='previousMeeting')
							h2.text-left.text-normal #{previousMeeting.meetingTitle}
							h4.text-left.text-normal.text-gray #{meetingDate[0]}
							input(type='hidden', name='meetingId', value='#{previousMeeting._id}')
							button.padding-btn-small.text-right.margin-right-3p.border-square.btn-red-hover(type='button', href="javascript:{}", onclick="viewMinutes('previousMeeting')") VIEW MINUTES
							button.padding-btn-small.text-right.margin-right-3p.border-square.btn-red-hover(type='button', href="javascript:{}") VIEW TASKS

		.col-md-8
			.row.bg-white.border-gray.border-shadow-1x.margin-left-1p.overflow-scroll-y.padding-bottom-2p.border-round(style='height:370px;')
				.col-md-12.margin-top-1p
					h4.text-left.text-normal.text-gray.margin-left-1p ALL UPCOMING MEETINGS
					.container-95p.margin-center.margin-top-3p
						each meeting, i in meetingList
							form(role='form', method='POST', action='/dashboard/meetings/start', id='future'+i)
								.row.border-gray
									input(type='hidden', name='meetingId', value='#{meeting._id}')
									.col-md-4.border-gray-right
										h4.text-black.text-left.text-bold #{meetingDate[i]}
									.col-md-4
										h4.text-black.text-left #{meeting.meetingTitle}
										h4.text-orange.text-left #{meeting.objective}
									.col-md-2.text-right.margin-top-2p
										button.padding-btn.border-square.btn-red-hover(type='button', href="javascript:{}", onclick="editAgenda('future#{i}')")  EDIT
									.col-md-2.text-left.margin-top-2p
										button.padding-btn.border-square.btn-red-hover(type='button', href="javascript:{}" onclick="startAgenda('future#{i}')") START
	//.row.margin-top-2p
		.col-md-12.bg-white.border-gray.border-shadow-1x.border-round(style='height:150px;')
			.row
				.col-md-4
					h2.text-biggest.text-orange 76
				.col-md-4
					h2.text-biggest.text-blue-gray 150
				.col-md-4
					h2.text-biggest.text-lt-blue 95%
			.row
				.col-md-4
					h3.text-black AGENDA ITEMS
					h3.text-black.text-height-4x COMPLETED
				.col-md-4
					h3.text-black MINUTES
					h3.text-black.text-height-4x SAVED
				.col-md-4
					h3.text-black MEETINGS FINISHED
					h3.text-black.text-height-4x ON TIME
	script(src='../../../javascripts/meetings-editAgenda.js')
