extends dashboard

block content
	.row
		.col-md-12.bg-white.border-gray.border-shadow-1x(style='height:150px;')
			.row
				.col-md-12.margin-top-1p.margin-left-1p
					h4.text-left.text-normal.text-gray YOUR WEEK AHEAD
	.row.margin-top-2p
		.col-md-5
			.row.bg-white.border-gray.border-shadow-1x.margin-right-1p(style='height:175px;')
				.col-md-12.margin-top-1p.margin-left-1p
					h4.text-left.text-normal.text-gray MOST UPCOMING MEETING
				if(upcomingMeeting != undefined)
					.col-md-12.margin-left-1p.padding-bottom-2p
						form(role='form', method='POST', action='/dashboard/meetings/start', id='upcomingMeeting')
							h2.text-left.text-normal #{upcomingMeeting.meetingTitle}
							h4.text-left.text-normal.text-gray #{upcomingMeeting.meetingDate}
							input(type='hidden', name='meetingId', value='#{upcomingMeeting._id}')
							button.text-right.margin-right-3p.border-square.bg-white.border-orange.border-orange.text-orange.padding-left-3p.padding-right-3p(type='button', href="javascript:{}") EDIT AGENDA
							button.text-right.border-square.bg-white.border-orange.border-orange.text-orange.padding-left-3p.padding-right-3p(type='button', href="javascript:{}" onclick="document.getElementById('upcomingMeeting').submit();") START
			.row.bg-white.border-gray.border-shadow-1x.margin-right-1p(style='height:175px;')
				.col-md-12.margin-top-1p.margin-left-1p
					h4.text-left.text-normal.text-gray PREVIOUS MEETING
						if(previousMeeting != undefined)
							h2.text-left.text-normal #{previousMeeting.meetingTitle}
							h4.text-left.text-normal.text-gray #{previousMeeting.meetingDate}
							button.text-right.margin-right-3p.border-square.bg-white.border-orange.border-orange.text-orange.padding-left-1p.padding-right-1p VIEW MINUTES
							button.text-right.border-square.bg-white.border-orange.border-orange.text-orange.padding-left-1p.padding-right-1p VIEW TASKS
		.col-md-7
			.row.bg-white.border-gray.border-shadow-1x.margin-left-1p.overflow-scroll-y.padding-bottom-2p(style='height:350px;')
				.col-md-12.margin-top-1p
					h4.text-left.text-normal.text-gray.margin-left-1p ALL UPCOMING MEETINGS
					.container-95p.margin-center.margin-top-3p
						each meeting, i in meetingList
							form(role='form', method='POST', action='/dashboard/meetings/start', id='future'+i)
								.row.border-gray
									input(type='hidden', name='meetingId', value='#{meeting._id}')
									.col-md-3.border-gray-right
										h4.text-black.text-left.text-bold #{meeting.meetingDate}
										h4.text-black.text-left #{meeting.meetingTime} minutes
									.col-md-5
										h4.text-black.text-left #{meeting.meetingTitle}
									.col-md-2.text-right
										button.margin-top-20p.border-square.bg-white.border-orange.border-orange.text-orange.padding-left-3p.padding-right-3p(type='button', href="javascript:{}")  EDIT
									.col-md-2.text-left
										button.margin-top-20p.border-square.bg-white.border-orange.border-orange.text-orange.padding-left-3p.padding-right-3p(type='button', href="javascript:{}" onclick="document.getElementById('future#{i}').submit();") START
	.row.margin-top-2p
		.col-md-12.bg-white.border-gray.border-shadow-1x(style='height:150px;')
			.row
				.col-md-4
					h2.text-biggest.text-orange 76
				.col-md-4
					h2.text-biggest.text-blue-gray 150
				.col-md-4
					h2.text-biggest.text-lt-blue 95%
			.row
				.col-md-4
					h3.text-black AGENDA ITEMS
					h3.text-black.text-height-4x COMPLETED
				.col-md-4
					h3.text-black MINUTES
					h3.text-black.text-height-4x SAVED
				.col-md-4
					h3.text-black MEETINGS FINISHED
					h3.text-black.text-height-4x ON TIME